BibiaShow/SampleData/dataBibia/dataBibia.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.dataBibia" targetNamespace="Expression.Blend.SampleData.dataBibia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataBibia" type="tns:dataBibia" />
  <xs:complexType name="dataBibia">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Descricao" type="xs:string" />
    <xs:attribute name="Imagem" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="2" name="Sequencia" type="xs:double" />
    <xs:attribute blend:FormatParameters="30,8" name="Titulo" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>